[submodule "RestKit"]
	path = RestKit
	url = git://github.com/RestKit/RestKit.git
[submodule "SDWebImage"]
	path = SDWebImage
	url = https://github.com/rs/SDWebImage
[submodule "fmdb"]
	path = fmdb
	url = https://github.com/ccgus/fmdb.git
[submodule "PSCollectionView"]
	path = PSCollectionView
	url = https://github.com/ptshih/PSCollectionView.git
[submodule "PSTCollectionView"]
	path = PSTCollectionView
	url = https://github.com/steipete/PSTCollectionView.git
